{% load static %}
<img src="{% static 'assets3/images/shapes/shape2.png' %}" alt="" class="shape five animation-scalation">
    <img src="{% static 'assets3/images/shapes/shape6.png' %}" alt="" class="shape one animation-scalation">
    
    <div class="py-120 ">
        <div class="container container-two">
            <div class="row row-cols-xxl-5 row-cols-lg-3 row-cols-sm-2 row-cols-1 gy-5">
                <div class="col" data-aos="fade-up" data-aos-duration="300" >
                    <div class="footer-item">
                        <div class="footer-item__logo">
                            <a href="#"> <img src="{% static 'assets/img/Artboard 1.png' %}" alt=""></a>
                        </div>
                        <p class="my-32">Educangola superou todas as minhas expectativas! Os instrutores não eram apenas especialistas</p>
                        <ul class="social-list flex-align gap-24">
                            <li class="social-list__item">
                                <a href="https://www.facebook.com" class="text-main-600 text-2xl hover-text-main-two-600"><i class="ph-bold ph-facebook-logo"></i></a>
                            </li>
                            <li class="social-list__item">
                                <a href="https://www.twitter.com" class="text-main-600 text-2xl hover-text-main-two-600"> <i class="ph-bold ph-twitter-logo"></i></a>
                            </li>
                            <li class="social-list__item">
                                <a href="https://www.linkedin.com" class="text-main-600 text-2xl hover-text-main-two-600"><i class="ph-bold ph-instagram-logo"></i></a>
                            </li>
                            <li class="social-list__item">
                                <a href="https://www.pinterest.com" class="text-main-600 text-2xl hover-text-main-two-600"><i class="ph-bold ph-pinterest-logo"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col" data-aos="fade-up" data-aos-duration="400">
                    <div class="footer-item">
                        <h4 class="footer-item__title mb-32">Navegação</h4>
                        <ul class="footer-menu">
                            <li class="mb-16">
                                <a href="about.html" class="text-neutral-500 hover-text-main-600 hover-text-decoration-underline">Sobre nós</a>
                            </li>
                            <li class="mb-16">
                                <a href="https://wowtheme7.com/tf/eduall/demo/courses.html" class="text-neutral-500 hover-text-main-600 hover-text-decoration-underline">Cursos</a>
                            </li>
                            <li class="mb-16">
                                <a href="instructor.html" class="text-neutral-500 hover-text-main-600 hover-text-decoration-underline">Instrutores</a>
                            </li>
                            <li class="mb-16">
                                <a href="faq.html" class="text-neutral-500 hover-text-main-600 hover-text-decoration-underline">Perguntas Frequentes</a>
                            </li>
                            <li class="mb-0">
                                <a href="blog.html" class="text-neutral-500 hover-text-main-600 hover-text-decoration-underline">Blogs</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col" data-aos="fade-up" data-aos-duration="600">
                    <div class="footer-item">
                        <h4 class="footer-item__title mb-32">Categorias</h4>
                        <ul class="footer-menu">
                            <li class="mb-16">
                                <a href="https://wowtheme7.com/tf/eduall/demo/courses.html" class="text-neutral-500 hover-text-main-600 hover-text-decoration-underline">UI/UX Design</a>
                            </li>
                            <li class="mb-16">
                                <a href="https://wowtheme7.com/tf/eduall/demo/courses.html" class="text-neutral-500 hover-text-main-600 hover-text-decoration-underline">Desenvolvimento Web</a>
                            </li>
                            <li class="mb-16">
                                <a href="https://wowtheme7.com/tf/eduall/demo/courses.html" class="text-neutral-500 hover-text-main-600 hover-text-decoration-underline">Desenvolvimento Python</a>
                            </li>
                            <li class="mb-16">
                                <a href="https://wowtheme7.com/tf/eduall/demo/courses.html" class="text-neutral-500 hover-text-main-600 hover-text-decoration-underline">Marketing Digital</a>
                            </li>
                            <li class="mb-16">
                                <a href="https://wowtheme7.com/tf/eduall/demo/courses.html" class="text-neutral-500 hover-text-main-600 hover-text-decoration-underline">Design Gráfico</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col" data-aos="fade-up" data-aos-duration="800">
                    <div class="footer-item">
                        <h4 class="footer-item__title mb-32">Contate-nos</h4>
                        <div class="flex-align gap-20 mb-24">
                            <span class="icon d-flex text-32 text-main-600"><i class="ph ph-phone"></i></span>
                            <div>
                                <a href="tel:(207)555-0119" class="text-neutral-500 d-block hover-text-main-600 mb-4">+244 923908353</a>
                                <a href="tel:(704)555-0127" class="text-neutral-500 d-block hover-text-main-600 mb-0">+244 923908353</a>
                            </div>
                        </div>
                        <div class="flex-align gap-20 mb-24">
                            <span class="icon d-flex text-32 text-main-600"><i class="ph ph-envelope-open"></i></span>
                            <div>
                                <a href="Educangola:educangola@gmail.com" class="text-neutral-500 d-block hover-text-main-600 mb-4">educangola@gmail.com</a>
                                <a href="Educangola:educangola@gmail.com" class="text-neutral-500 d-block hover-text-main-600 mb-0">educangola@gmail.com</a>
                            </div>
                        </div>
                        <div class="flex-align gap-20 mb-24">
                            <span class="icon d-flex text-32 text-main-600"><i class="ph ph-map-trifold"></i></span>
                            <div>
                                <span class="text-neutral-500 d-block mb-4">5488 srker Rd.</span>
                                <span class="text-neutral-500 d-block mb-0">8745 doer Dr.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" data-aos="fade-up" data-aos-duration="1000">
                    <div class="footer-item">
                        <h4 class="footer-item__title mb-32">Inscreva-se Aqui</h4>
                        <p class="text-neutral-500">Digite seu endereço de e-mail para se inscrever em nossa newsletter</p>
                        <form action="course-list-view.html#" class="mt-24 position-relative">
                            <input type="email" class="form-control bg-white shadow-none border border-neutral-30 rounded-pill h-52 ps-24 pe-48 focus-border-main-600" placeholder="Email...">
                            <button type="submit" class="w-36 h-36 flex-center rounded-circle bg-main-600 text-white hover-bg-main-800 position-absolute top-50 translate-middle-y inset-inline-end-0 me-8">
                                <i class="ph ph-paper-plane-tilt"></i>
                            </button>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="container">
        <!-- bottom Footer -->
        <div class="bottom-footer bg-main-25 border-top border-dashed border-main-100 border-0 py-32">
            <div class="container container-two">
                <div class="bottom-footer__inner flex-between gap-3 flex-wrap">
                    <p class="bottom-footer__text"> Copyright &copy; 2024 <span class="fw-semibold">Educangola</span> Todos os Direitos Reservados.</p>
                    <div class="footer-links">
                        <a href="course-list-view.html#" class="text-neutral-500 hover-text-main-600 hover-text-decoration-underline">Política de Privacidade</a>
                        <a href="course-list-view.html#" class="text-neutral-500 hover-text-main-600 hover-text-decoration-underline">Termos e Condições</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>