   {% load static %}
   <link rel="shortcut icon" href="{% static 'assets/img/Screenshot_20241221-130247-removebg-preview.png' %}" type="image/x-icon">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'assets5/css/bootstrap.min.css' %}">
    <!-- file upload -->
    <link rel="stylesheet" href="{% static 'assets5/css/file-upload.css' %}">
    <!-- file upload -->
    <link rel="stylesheet" href="{% static 'assets5/css/plyr.css' %}">
    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css">
    <!-- full calendar -->
    <link rel="stylesheet" href="{% static 'assets5/css/full-calendar.css' %}">
    <!-- jquery Ui -->
    <link rel="stylesheet" href="{% static 'assets5/css/jquery-ui.css' %}">
    <!-- editor quill Ui -->
    <link rel="stylesheet" href="{% static 'assets5/css/editor-quill.css' %}">
    <!-- apex charts Css -->
    <link rel="stylesheet" href="{% static 'assets5/css/apexcharts.css' %}">
    <!-- calendar Css -->
    <link rel="stylesheet" href="{% static 'assets5/css/calendar.css' %}">
    <!-- jvector map Css -->
    <link rel="stylesheet" href="{% static 'assets5/css/jquery-jvectormap-2.0.5.css' %}">
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'assets5/css/main.css' %}">