{% load static %}
<script src="{% static 'assets5/js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'assets5/js/boostrap.bundle.min.js' %}"></script>
<script src="{% static 'assets5/js/phosphor-icon.js' %}"></script>
<script src="{% static 'assets5/js/file-upload.js' %}"></script>
<script src="{% static 'assets5/js/plyr.js' %}"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
<script src="{% static 'assets5/js/full-calendar.js' %}"></script>
<script src="{% static 'assets5/js/jquery-ui.js' %}"></script>
<script src="{% static 'assets5/js/editor-quill.js' %}"></script>
<script src="{% static 'assets5/js/apexcharts.min.js' %}"></script>
<script src="{% static 'assets5/js/jquery-jvectormap-2.0.5.min.js' %}"></script>
<script src="{% static 'assets5/js/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'assets5/js/main.js' %}"></script>