{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Educangola | {{detalhe_curso.nome}}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/img/Screenshot_20241221-130247-removebg-preview.png' %}">

    <!-- Bootstrap -->
    {% include 'includes/links_css.html' %}
</head> 
<body>
    
<!--==================== Preloader Start ====================-->
  <div class="preloader">
    <img src="{% static 'assets3/images/icons/preloader.gif' %}" alt="">
  </div>
<!--==================== Preloader End ====================-->

<!--==================== Overlay Start ====================-->
<div class="overlay"></div>
<!--==================== Overlay End ====================-->

<!--==================== Sidebar Overlay End ====================-->
<div class="side-overlay"></div>
<!--==================== Sidebar Overlay End ====================-->

<!-- ==================== Scroll to Top End Here ==================== -->
<div class="progress-wrap">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
  </svg>
</div>
<!-- ==================== Scroll to Top End Here ==================== -->

<!-- ==================== Mobile Menu Start Here ==================== -->
{% include 'includes/mobile_menu.html' %}
<!-- ==================== Mobile Menu End Here ==================== -->


    <!-- ==================== Header Start Here ==================== -->
<header class="header">
    {% include 'includes/header.html' %}
</header>
<!-- ==================== Header End Here ==================== -->

    <!-- ==================== Breadcrumb Start Here ==================== -->
<section class="breadcrumb py-120 bg-main-25 position-relative z-1 overflow-hidden mb-0">
    <img src="{% static 'assets3/images/shapes/shape1.png' %}" alt="" class="shape one animation-rotation d-md-block d-none">
    <img src="{% static 'assets3/images/shapes/shape2.png' %}" alt="" class="shape two animation-scalation d-md-block d-none">
    <img src="{% static 'assets3/images/shapes/shape3.png' %}" alt="" class="shape eight animation-walking d-md-block d-none">
    <img src="{% static 'assets3/images/shapes/shape5.png' %}" alt="" class="shape six animation-walking d-md-block d-none">
    <img src="{% static 'assets3/images/shapes/shape4.png' %}" alt="" class="shape four animation-scalation">
    <img src="{% static 'assets3/images/shapes/shape4.png' %}" alt="" class="shape nine animation-scalation">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb__wrapper">
                    <h1 class="breadcrumb__title display-4 fw-semibold text-center">Detalhe do curso</h1>
                    <ul class="breadcrumb__list d-flex align-items-center justify-content-center gap-4">
                        <li class="breadcrumb__item">
                            <a href="index.html" class="breadcrumb__link text-neutral-500 hover-text-main-600 fw-medium"> 
                                <i class="text-lg d-inline-flex ph-bold ph-house"></i> Home</a>
                         </li>
                        <li class="breadcrumb__item">
                            <i class="text-neutral-500 d-flex ph-bold ph-caret-right"></i>
                        </li>
                        <li class="breadcrumb__item">
                            <a href="course.html" class="breadcrumb__link text-neutral-500 hover-text-main-600 fw-medium"> Courses</a> 
                        </li>
                        <li class="breadcrumb__item ">
                            <i class="text-neutral-500 d-flex ph-bold ph-caret-right"></i>
                        </li>
                        <li class="breadcrumb__item"> 
                            <span class="text-main-two-600"> Courses Details </span> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Breadcrumb End Here ==================== -->

    <!-- ============================== Course Details Section Start ============================== -->
    <section class="course-details py-120">
        <div class="container">
            <div class="row gy-4">
                <div class="col-xl-8">
                    <!-- Details Content Start -->
                    <div class="course-details__content border border-neutral-30 rounded-12 bg-main-25 p-12">
                        <img src="{{detalhe_curso.imagem.url}}" alt="" class="rounded-8 cover-img">
                        <div class="p-20">
                            <h2 class="mt-24 mb-24">{{detalhe_curso.nome}}</h2>
                            <p class="text-neutral-700">{{detalhe_curso.descricao}}</p>
                            
                            
                            <span class="d-block border-bottom border-main-100 my-32"></span>
                            <h6 class="mb-16">Inscreva-se Hoje:</h6>
                            <ul class="list-dotted d-flex flex-column gap-24">
                                <li>Dê o primeiro passo para dominar o "{{detalhe_curso.nome}}". Inscreva-se agora e comece sua jornada para se tornar proficiente!</li>
                            </ul>
                            <p class="mt-24 text-neutral-700">Esta visão geral detalhada deve proporcionar aos potenciais alunos uma compreensão clara do que podem esperar do curso e dos benefícios da inscrição. Sinta-se à vontade para ajustar qualquer parte para melhor se adequar às suas ofertas específicas. Avise-nos se precisar de mais personalização ou detalhes adicionais!</p>
                        </div>
                    </div>
                    

                    
                    <!-- Instructor Start -->
                    <div class="border border-neutral-30 rounded-12 bg-main-25 p-32 mt-24">
                        <div class="d-flex align-items-start flex-wrap flex-md-nowrap gap-32">
                            <img src="assets/images/thumbs/details-instructor.png" alt="" class="">
                            <div class="">
                                <div class="flex-between gap-16">  
                                    <h4 class="mb-0">Negação Mentira</h4>  
                                    <div class="dropdown flex-shrink-0">  
                                        <button class="text-gray-600 text-xl d-flex rounded-4" type="button" data-bs-toggle="dropdown" aria-expanded="false">  
                                            <i class="ph-fill ph-dots-three-outline"></i>  
                                        </button>  
                                        <div class="dropdown-menu dropdown-menu--md border-0 bg-transparent p-0">  
                                            <div class="card border border-gray-100 rounded-12 box-shadow-custom">  
                                                <div class="card-body p-12">  
                                                    <div class="max-h-200 overflow-y-auto scroll-sm pe-8">  
                                                        <ul>  
                                                            <li class="mb-0">  
                                                                <button type="button" class="delete-item-btn py-6 text-15 px-8 hover-bg-gray-50 text-gray-300 w-100 rounded-8 fw-normal text-xs d-block text-start">  
                                                                    <span class="text">Excluir</span>  
                                                                </button>  
                                                            </li>  
                                                        </ul>  
                                                    </div>  
                                                </div>  
                                            </div>  
                                        </div>  
                                    </div>  
                                </div>
                                
                                <span class="d-block border border-neutral-30 my-20 border-dashed"></span>
                                <div class="d-flex flex-column gap-16 flex-wrap max-w-340">
                                    <div class="flex-between gap-8">
                                        <div class="flex-align gap-8">
                                            <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-lightbulb"></i></span>
                                            <span class="text-neutral-700 text-lg fw-medium">Designer UI/UX</span>
                                        </div>
                                        <div class="flex-align gap-8">
                                            <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-watch"></i></span>
                                            <span class="text-neutral-700 text-lg fw-medium">12 Cursos</span>
                                        </div>
                                    </div>
                                    <div class="flex-between gap-8 flex-wrap">
                                        <div class="flex-align gap-8">
                                            <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-users"></i></span>
                                            <span class="text-neutral-700 text-lg fw-medium">36k Alunos</span>
                                        </div>
                                        <div class="flex-align gap-4">
                                            <span class="text-2xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-lg text-neutral-700 fw-semibold">
                                                4.7
                                                <span class="text-neutral-100 fw-normal">(6.4k)</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <span class="d-block border border-neutral-30 my-20 border-dashed"></span>
                                <p class="text-neutral-500">Ofereça breves biografias ou perfis de cada instrutor. Estes podem incluir detalhes sobre suas carreiras, conquistas e interesses.</p>
                                <span class="d-block border border-neutral-30 my-20 border-dashed"></span>
                                <ul class="social-list flex-align gap-16">
                                    <li class="social-list__item">
                                        <a href="https://www.facebook.com" class="text-main-600 text-xl hover-text-white w-40 h-40 rounded-circle border border-main-600 hover-bg-main-600 flex-center"><i class="ph-bold ph-facebook-logo"></i></a>
                                    </li>
                                    <li class="social-list__item">
                                        <a href="https://www.twitter.com" class="text-main-600 text-xl hover-text-white w-40 h-40 rounded-circle border border-main-600 hover-bg-main-600 flex-center"><i class="ph-bold ph-twitter-logo"></i></a>
                                    </li>
                                    <li class="social-list__item">
                                        <a href="https://www.linkedin.com" class="text-main-600 text-xl hover-text-white w-40 h-40 rounded-circle border border-main-600 hover-bg-main-600 flex-center"><i class="ph-bold ph-instagram-logo"></i></a>
                                    </li>
                                    <li class="social-list__item">
                                        <a href="https://www.pinterest.com" class="text-main-600 text-xl hover-text-white w-40 h-40 rounded-circle border border-main-600 hover-bg-main-600 flex-center"><i class="ph-bold ph-pinterest-logo"></i></a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <!-- Instructor End -->

                    <!-- Review Start -->
                    <div class="border border-neutral-30 rounded-12 bg-main-25 p-32 mt-24">
                        <h5 class="mb-0">Média de Avaliações</h5>
                        <span class="d-block border border-neutral-30 my-32 border-dashed"></span>


                        <div class="d-flex flex-sm-row flex-column gap-36">
                            <div class="rounded-16 px-40 py-24 flex-center flex-column flex-shrink-0 text-center bg-main-600 text-white">
                                <h2 class="mb-8 text-white">4.8</h2>
                                <div class="flex-center gap-4">
                                    <span class="text-15 fw-medium text-white d-flex"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-15 fw-medium text-white d-flex"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-15 fw-medium text-white d-flex"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-15 fw-medium text-white d-flex"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-15 fw-medium text-white d-flex"><i class="ph-fill ph-star-half"></i></span>
                                </div>
                                <span class="mt-8 text-gray-500">26 Avaliações</span>
                            </div>
                            

                            <div class="flex-grow-1">
                                <div class="flex-align gap-20 mb-8">
                                    <div class="flex-align gap-8">
                                        <span class="text-lg fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-gray-900 flex-shrink-0">5</span>
                                    </div>
                                    <div class="progress w-100 bg-white rounded-pill h-12" role="progressbar" aria-label="Exemplo básico" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-main-600 rounded-pill" style="width: 90%"></div>
                                    </div>
                                    <span class="text-gray-900 flex-shrink-0">90%</span>
                                </div>
                                <div class="flex-align gap-20 mb-8">
                                    <div class="flex-align gap-8">
                                        <span class="text-lg fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-gray-900 flex-shrink-0">5</span>
                                    </div>
                                    <div class="progress w-100 bg-white rounded-pill h-12" role="progressbar" aria-label="Exemplo básico" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-main-600 rounded-pill" style="width: 75%"></div>
                                    </div>
                                    <span class="text-gray-900 flex-shrink-0">75%</span>
                                </div>
                                <div class="flex-align gap-20 mb-8">
                                    <div class="flex-align gap-8">
                                        <span class="text-lg fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-gray-900 flex-shrink-0">5</span>
                                    </div>
                                    <div class="progress w-100 bg-white rounded-pill h-12" role="progressbar" aria-label="Exemplo básico" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-main-600 rounded-pill" style="width: 67%"></div>
                                    </div>
                                    <span class="text-gray-900 flex-shrink-0">67%</span>
                                </div>
                                <div class="flex-align gap-20 mb-8">
                                    <div class="flex-align gap-8">
                                        <span class="text-lg fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-gray-900 flex-shrink-0">5</span>
                                    </div>
                                    <div class="progress w-100 bg-white rounded-pill h-12" role="progressbar" aria-label="Exemplo básico" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-main-600 rounded-pill" style="width: 44%"></div>
                                    </div>
                                    <span class="text-gray-900 flex-shrink-0">44%</span>
                                </div>
                                <div class="flex-align gap-20">
                                    <div class="flex-align gap-8">
                                        <span class="text-lg fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-gray-900 flex-shrink-0">5</span>
                                    </div>
                                    <div class="progress w-100 bg-white rounded-pill h-12" role="progressbar" aria-label="Exemplo básico" aria-valuenow="21" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-main-600 rounded-pill" style="width: 21%"></div>
                                    </div>
                                    <span class="text-gray-900 flex-shrink-0">21%</span>
                                </div>
                            </div>
                            
                        </div>
                        <span class="d-block border border-neutral-30 my-32 border-dashed"></span>
                        <div class="flex-between gap-16 flex-wrap mb-24">
                            <h6 class="mb-0">Todas as Avaliações</h6>
                            <div class="flex-align gap-16">
                                <div class="flex-align gap-8">
                                    <span class="text-neutral-500 flex-shrink-0">Ordenar por:</span>
                                    <select class="form-select ps-20 pe-28 py-8 fw-medium rounded-pill bg-main-25 border border-neutral-30 text-neutral-700">
                                        <option value="1">Mais Recentes</option>
                                        <option value="1">Tendência</option>
                                        <option value="1">Populares</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        

                        <!-- Review Item -->
                        <div class="border border-neutral-30 rounded-12 bg-white p-32 mt-24">
                            <div class="flex-align gap-8 mb-16">
                                <span class="text-xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star-half"></i></span>
                            </div>
                            <p class="text-neutral-700">"Dr. Smith é uma instrutora incrível. Sua experiência no mundo real e seu estilo de ensino tornaram este curso um dos melhores que já fiz."</p>
                            <span class="d-block border border-neutral-30 my-24 border-dashed"></span>
                            <div class="flex-align gap-24">
                                <img src="assets/images/thumbs/reviewer-img3.png" alt="" class="w-60 h-60 rounded-circle cover-img">
                                <div class="">
                                    <h6 class="text-xl mb-8 fw-medium">David Wilson</h6>
                                    <span class="text-neutral-700 text-sm">Hacker Ético</span>
                                </div>
                            </div>
                            <span class="d-block border border-neutral-30 my-24 border-dashed"></span>
                        
                            <div class="flex-align flex-wrap gap-40">
                                <button type="button" class="like-button flex-align gap-8 text-neutral-500 hover-text-main-600">
                                    <span class="like-button__icon text-xl d-flex"><i class="ph-bold ph-thumbs-up"></i></span>
                                    <span class="like-button__text">178</span>
                                </button>
                                <a href="course-details.html#commentForm" class="flex-align gap-8 text-neutral-500 hover-text-main-600">
                                    <i class="text-xl d-flex ph-bold ph-chat-centered-text"></i>
                                    Responder
                                </a>
                            </div>
                        </div>
                        
                        <!-- Review Item -->

                        <!-- Review Item -->
                        <div class="border border-neutral-30 rounded-12 bg-white p-32 mt-24">
                            <div class="flex-align gap-8 mb-16">
                                <span class="text-xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star-half"></i></span>
                            </div>
                            <p class="text-neutral-700">"Dr. Smith é uma instrutora incrível. Sua experiência no mundo real e seu estilo de ensino tornaram este curso um dos melhores que já fiz."</p>
                            <span class="d-block border border-neutral-30 my-24 border-dashed"></span>
                            <div class="flex-align gap-24">
                                <img src="assets/images/thumbs/reviewer-img3.png" alt="" class="w-60 h-60 rounded-circle cover-img">
                                <div class="">
                                    <h6 class="text-xl mb-8 fw-medium">David Wilson</h6>
                                    <span class="text-neutral-700 text-sm">Hacker Ético</span>
                                </div>
                            </div>
                            <span class="d-block border border-neutral-30 my-24 border-dashed"></span>
                        
                            <div class="flex-align flex-wrap gap-40">
                                <button type="button" class="like-button flex-align gap-8 text-neutral-500 hover-text-main-600">
                                    <span class="like-button__icon text-xl d-flex"><i class="ph-bold ph-thumbs-up"></i></span>
                                    <span class="like-button__text">178</span>
                                </button>
                                <a href="course-details.html#commentForm" class="flex-align gap-8 text-neutral-500 hover-text-main-600">
                                    <i class="text-xl d-flex ph-bold ph-chat-centered-text"></i>
                                    Responder
                                </a>
                            </div>
                        </div>
                        
                        <!-- Review Item -->

                        <!-- Review Item -->
                        <div class="border border-neutral-30 rounded-12 bg-white p-32 mt-24">
                            <div class="flex-align gap-8 mb-16">
                                <span class="text-xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star-half"></i></span>
                            </div>
                            <p class="text-neutral-700">"Dr. Smith é uma instrutora incrível. Sua experiência no mundo real e seu estilo de ensino tornaram este curso um dos melhores que já fiz."</p>
                            <span class="d-block border border-neutral-30 my-24 border-dashed"></span>
                            <div class="flex-align gap-24">
                                <img src="{% static 'assets3/images/thumbs/reviewer-img3.png' %}" alt="" class="w-60 h-60 rounded-circle cover-img">
                                <div class="">
                                    <h6 class="text-xl mb-8 fw-medium">David Wilson</h6>
                                    <span class="text-neutral-700 text-sm">Hacker Ético</span>
                                </div>
                            </div>
                            <span class="d-block border border-neutral-30 my-24 border-dashed"></span>
                        
                            <div class="flex-align flex-wrap gap-40">
                                <button type="button" class="like-button flex-align gap-8 text-neutral-500 hover-text-main-600">
                                    <span class="like-button__icon text-xl d-flex"><i class="ph-bold ph-thumbs-up"></i></span>
                                    <span class="like-button__text">178</span>
                                </button>
                                <a href="course-details.html#commentForm" class="flex-align gap-8 text-neutral-500 hover-text-main-600">
                                    <i class="text-xl d-flex ph-bold ph-chat-centered-text"></i>
                                    Responder
                                </a>
                            </div>
                        </div>
                        
                        <!-- Review Item -->

                        <button type="button" class="btn btn-main rounded-pill flex-center gap-8 mt-40">
                            Ver Todas as Avaliações
                            <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
                        </button>
                        
                    </div>
                    <!-- Review End -->

                    <!-- Review Form Start -->
                    <div class="border border-neutral-30 rounded-12 bg-main-25 p-32 mt-24">
                        <form action="course-details.html#" id="commentForm">
                            <h5 class="mb-0">Escreva uma Avaliação</h5>
                            <span class="d-block border border-neutral-30 my-32 border-dashed"></span>
                            <div class="mb-24">
                                <label for="name" class="text-neutral-700 text-lg fw-medium mb-12">Nome</label>
                                <input type="text" class="common-input rounded-pill" id="name" placeholder="Digite seu nome...">
                            </div>
                            <div class="mb-24">
                                <label for="email" class="text-neutral-700 text-lg fw-medium mb-12">Email</label>
                                <input type="email" class="common-input rounded-pill" id="email" placeholder="Digite seu email...">
                            </div>
                            <div class="mb-24">
                                <label class="text-neutral-700 text-lg fw-medium mb-12">Avaliação por Estrelas</label>
                                
                                <div id="half-star-rating">
                                    <div class="rating-group">
                                        <input class="rating__input rating__input--none" checked name="rating2" id="rating2-0" value="0" type="radio">
                                        <label aria-label="0 estrelas" class="rating__label" for="rating2-0">&nbsp;</label>
                                        <label aria-label="0.5 estrelas" class="rating__label rating__label--half" for="rating2-05"><i class="rating__icon rating__icon--star ph-fill ph-star-half"></i></label>
                                        <input class="rating__input" name="rating2" id="rating2-05" value="0.5" type="radio">
                                        <label aria-label="1 estrela" class="rating__label" for="rating2-10"><i class="rating__icon rating__icon--star ph-fill ph-star"></i></label>
                                        <input class="rating__input" name="rating2" id="rating2-10" value="1" type="radio">
                                        <label aria-label="1.5 estrelas" class="rating__label rating__label--half" for="rating2-15"><i class="rating__icon rating__icon--star ph-fill ph-star-half"></i></label>
                                        <input class="rating__input" name="rating2" id="rating2-15" value="1.5" type="radio">
                                        <label aria-label="2 estrelas" class="rating__label" for="rating2-20"><i class="rating__icon rating__icon--star ph-fill ph-star"></i></label>
                                        <input class="rating__input" name="rating2" id="rating2-20" value="2" type="radio">
                                        <label aria-label="2.5 estrelas" class="rating__label rating__label--half" for="rating2-25"><i class="rating__icon rating__icon--star ph-fill ph-star-half"></i></label>
                                        <input class="rating__input" name="rating2" id="rating2-25" value="2.5" type="radio" checked>
                                        <label aria-label="3 estrelas" class="rating__label" for="rating2-30"><i class="rating__icon rating__icon--star ph-fill ph-star"></i></label>
                                        <input class="rating__input" name="rating2" id="rating2-30" value="3" type="radio">
                                        <label aria-label="3.5 estrelas" class="rating__label rating__label--half" for="rating2-35"><i class="rating__icon rating__icon--star ph-fill ph-star-half"></i></label>
                                        <input class="rating__input" name="rating2" id="rating2-35" value="3.5" type="radio">
                                        <label aria-label="4 estrelas" class="rating__label" for="rating2-40"><i class="rating__icon rating__icon--star ph-fill ph-star"></i></label>
                                        <input class="rating__input" name="rating2" id="rating2-40" value="4" type="radio">
                                        <label aria-label="4.5 estrelas" class="rating__label rating__label--half" for="rating2-45"><i class="rating__icon rating__icon--star ph-fill ph-star-half"></i></label>
                                        <input class="rating__input" name="rating2" id="rating2-45" value="4.5" type="radio">
                                        <label aria-label="5 estrelas" class="rating__label" for="rating2-50"><i class="rating__icon rating__icon--star ph-fill ph-star"></i></label>
                                        <input class="rating__input" name="rating2" id="rating2-50" value="5" type="radio">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-24">
                                <label for="desc" class="text-neutral-700 text-lg fw-medium mb-12">Sua Pergunta</label>
                                <textarea id="desc" class="common-input rounded-24" placeholder="Escreva sua pergunta..."></textarea>
                            </div>
                            <div class="mb-0">
                                <button type="submit" class="btn btn-main rounded-pill flex-center gap-8 mt-40">
                                    Enviar Avaliação
                                    <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    
                    <!-- Review Form End -->
                </div>
                <div class="col-xl-4">
                    <div class="course-details__sidebar border border-neutral-30 rounded-12 bg-white p-8">
                        <div class="border border-neutral-30 rounded-12 bg-main-25 p-24 bg-main-25">
                            <span class="text-neutral-700 text-lg mb-12">Custo</span>
                            <div class="flex-align align-items-start flex-wrap gap-8 border-bottom border-neutral-40 pb-24 mb-24">
                                <div class="flex-align gap-12 text-neutral-700">
                                    <span class="text-2xl d-flex"><i class="ph-bold ph-tag"></i></span>
                                    <span class="">From</span>
                                    <h2 class="mb-0">kz {{detalhe_curso.preco}}</h2>
                                </div>
                                <button type="button" class="text-neutral-500 text-sm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Initial Price">
                                    <i class="ph-bold ph-info"></i>
                                </button>
                            </div>
                            <div class="border-bottom border-neutral-40 pb-24 mb-24 flex-between flex-wrap gap-16">
                                <div class="flex-align gap-12">
                                    <span class="text-neutral-700 text-2xl d-flex"><i class="ph ph-watch"></i></span>
                                    <span class="text-neutral-700 text-lg fw-normal"></span>
                                </div>
                                <span class="text-lg fw-medium text-neutral-700">{{detalhe_curso.nome}}</span>
                            </div>
                            <div class="border-bottom border-neutral-40 pb-24 mb-24 flex-between flex-wrap gap-16">
                                <div class="flex-align gap-12">
                                    <span class="text-neutral-700 text-2xl d-flex"> <i class="ph ph-video-camera"></i></span>
                                    <span class="text-neutral-700 text-lg fw-normal">Aulas</span>
                                </div>
                                <span class="text-lg fw-medium text-neutral-700">16</span>
                            </div>
                            <div class="border-bottom border-neutral-40 pb-24 mb-24 flex-between flex-wrap gap-16">
                                <div class="flex-align gap-12">
                                    <span class="text-neutral-700 text-2xl d-flex"><i class="ph ph-globe"></i> </span>
                                    <span class="text-neutral-700 text-lg fw-normal">Linguagem</span>
                                </div>
                                <span class="text-lg fw-medium text-neutral-700">portugues</span>
                            </div>
                            <div class="border-bottom border-neutral-40 pb-24 mb-24 flex-between flex-wrap gap-16">
                                <div class="flex-align gap-12">
                                    <span class="text-neutral-700 text-2xl d-flex"> <i class="ph ph-chart-pie"></i></span>
                                    <span class="text-neutral-700 text-lg fw-normal">Nivel de curso</span>
                                </div>
                                <span class="text-lg fw-medium text-neutral-700">{{detalhe_curso.nivel}}</span>
                            </div>
                            <div class="border-bottom border-neutral-40 pb-24 mb-24 flex-between flex-wrap gap-16">
                                <div class="flex-align gap-12">
                                    <span class="text-neutral-700 text-2xl d-flex"> <i class="ph ph-star"></i> </span>
                                    <span class="text-neutral-700 text-lg fw-normal">Avaliações</span>
                                </div>
                                <span class="text-lg fw-medium text-neutral-700">4.7(5.5k)</span>
                            </div>
                            
                            <div class="border-bottom border-neutral-40 pb-24 mb-24 flex-between flex-wrap gap-16">
                                <div class="flex-align gap-12">
                                    <span class="text-neutral-700 text-2xl d-flex"> <i class="ph ph-clock"></i> </span>
                                    <span class="text-neutral-700 text-lg fw-normal">Duracao</span>
                                </div>
                                <span class="text-lg fw-medium text-neutral-700">{{detalhe_curso.duracao}}</span>
                            </div>
                            <div class="border-bottom border-neutral-40 pb-24 mb-24 flex-between flex-wrap gap-16">
                                <div class="flex-align gap-12">
                                    <span class="text-neutral-700 text-2xl d-flex"> <i class="ph ph-users"></i> </span>
                                    <span class="text-neutral-700 text-lg fw-normal">Estudantes</span>
                                </div>
                                <span class="text-lg fw-medium text-neutral-700">2.5k</span>
                            </div>
                            <div class="border-bottom border-neutral-40 pb-24 mb-24 flex-between flex-wrap gap-16">
                                <div class="flex-align gap-12">
                                    <span class="text-neutral-700 text-2xl d-flex"> <i class="ph ph-certificate"></i> </span>
                                    <span class="text-neutral-700 text-lg fw-normal">Certificações</span>
                                </div>
                                <span class="text-lg fw-medium text-neutral-700">Yes</span>
                            </div>
                            <div class="border-bottom border-neutral-40 pb-24 mb-24 flex-between flex-wrap gap-16">
                                <div class="flex-align gap-12">
                                    <span class="text-neutral-700 text-2xl d-flex"> <i class="ph ph-seal-percent"></i> </span>
                                    <span class="text-neutral-700 text-lg fw-normal">Percentual de Aprovação</span>
                                </div>
                                <span class="text-lg fw-medium text-neutral-700">88%</span>
                            </div>
                            <div class="border-bottom border-neutral-40 pb-24 mb-24 flex-between flex-wrap gap-16">
                                <div class="flex-align gap-12">
                                    <span class="text-neutral-700 text-2xl d-flex"> <i class="ph ph-calendar-dot"></i> </span>
                                    <span class="text-neutral-700 text-lg fw-normal">Data Inicio</span>
                                </div>
                                <span class="text-lg fw-medium text-neutral-700">{{detalhe_curso.data_inicio}}</span>
                            </div>
                            <div class="border-bottom border-neutral-40 pb-24 mb-24 flex-between flex-wrap gap-16">
                                <div class="flex-align gap-12">
                                    <span class="text-neutral-700 text-2xl d-flex"> <i class="ph ph-user-circle"></i> </span>
                                    <span class="text-neutral-700 text-lg fw-normal">Instructor </span>
                                </div>
                                <span class="text-lg fw-medium text-neutral-700"><a href="#">Carlos</a></span>
                            </div>
                            <a href="#" class="btn btn-main rounded-pill flex-center gap-8 mt-40">
                                Inscrever-se
                                <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
                            </a>
                            <div class="mt-24 flex-center gap-24">
                                <button type="button" class="w-44 h-44 flex-center bg-white rounded-circle text-main-600 text-lg hover-text-white hover-bg-main-600 transition-1">
                                    <i class="ph-bold ph-shopping-cart-simple"></i>
                                </button>
                                <div class="dropdown flex-shrink-0">
                                    <button class="w-44 h-44 flex-center bg-white rounded-circle text-main-600 text-lg hover-text-white hover-bg-main-600 transition-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="ph-bold ph-share-network"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu--md border-0 bg-transparent p-0">
                                        <div class="card border border-gray-100 rounded-12 box-shadow-custom">
                                            <div class="card-body p-16">
                                                <ul class="social-list flex-align gap-8">
                                                    <li class="social-list__item">
                                                        <a href="https://www.facebook.com" class="text-main-600 text-md hover-text-white w-36 h-36 rounded-circle border border-main-200 hover-bg-main-600 hover-border-main-600 flex-center"><i class="ph-bold ph-facebook-logo"></i></a>
                                                    </li>
                                                    <li class="social-list__item">
                                                        <a href="https://www.twitter.com" class="text-main-600 text-md hover-text-white w-36 h-36 rounded-circle border border-main-200 hover-bg-main-600 hover-border-main-600 flex-center"> <i class="ph-bold ph-twitter-logo"></i></a>
                                                    </li>
                                                    <li class="social-list__item">
                                                        <a href="https://www.linkedin.com" class="text-main-600 text-md hover-text-white w-36 h-36 rounded-circle border border-main-200 hover-bg-main-600 hover-border-main-600 flex-center"><i class="ph-bold ph-instagram-logo"></i></a>
                                                    </li>
                                                    <li class="social-list__item">
                                                        <a href="https://www.pinterest.com" class="text-main-600 text-md hover-text-white w-36 h-36 rounded-circle border border-main-200 hover-bg-main-600 hover-border-main-600 flex-center"><i class="ph-bold ph-pinterest-logo"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ============================== Course Details Section End ============================== -->
    
    <!-- ================================= Certificate Section Start ================================= -->
<div class="certificate">
    <div class="container container--lg">
        <div class="certificate-box px-16 bg-main-600 rounded-16">
            <div class="container">
                <div class="position-relative py-80">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <div class="certificate__content">
                                <div class="flex-align gap-8 mb-16 wow bounceInDown">
                                    <span class="w-8 h-8 bg-white rounded-circle"></span>
                                    <h5 class="text-white mb-0">Obtenha o Certificado</h5>
                                </div>
                                <h2 class="text-white mb-40 fw-medium wow bounceIn">Obtenha o Certificado de Habilidades de Qualidade da EduAll</h2>
                                <a href="course-details.html" class="btn btn-white rounded-pill flex-align d-inline-flex gap-8 hover-bg-main-800 wow bounceInUp">
                                    Comece Agora
                                    <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 d-xl-block d-none">
                            <div class="certificate__thumb" data-aos="fade-up-left">    
                                <img src="{% static 'assets3/images/thumbs/certificate-img.png' %}" alt="" data-tilt data-tilt-max="8" data-tilt-speed="500" data-tilt-perspective="5000" data-tilt-full-page-listening>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
 </div>
<!-- ================================= Certificate Section End ================================= -->
    
    
<!-- ==================== Footer Start Here ==================== -->
<footer class="footer bg-main-25 position-relative z-1">
    {% include 'includes/footer.html' %}
</footer>
<!-- ==================== Footer End Here ==================== -->
  

        <!-- Jquery js -->
    {% include 'includes/links_java.html' %}



    </body>
</html>