{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ noticia.titulo }} | detalhe</title>
    <meta name="author" content="Vecuro">
    <meta name="description" content="Educino - Online Courses and Education HTML Template">
    <meta name="keywords" content="academic, artist, center, club, coach, college, drive, driving, education, entertainment, gambling, golf, jackpot, knowledge, money, multipurpose, music, song, student">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="{% static 'assets/img/Screenshot_20241221-130247-removebg-preview.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'assets/img/Screenshot_20241221-130247-removebg-preview.png' %}" type="image/x-icon">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">


    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}"> -->
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="{% static 'assets/css/slick.min.css' %}">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>


<body>

    <div class="preloader  ">
        <button class="vs-btn preloaderCls">Cancelar</button>
        <div class="preloader-inner">
            <div class="loader"></div>
        </div>
    </div>
    <!--==============================
    Mobile Menu
    ============================== -->
    <div class="vs-menu-wrapper">
        <div class="vs-menu-area text-center">
            <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="index.html">
                    <img style="width: 150px;" src="{% static 'assets/img/Artboard 1.png' %}" alt="Educino">
                </a>
            </div>
            <div class="vs-mobile-menu">
                <ul>
                    <!-- Início -->
                    <li><a href="{% url 'index' %}"><i class="fas fa-home"></i> Início</a></li>
    
                    <!-- Sobre Nós -->
                    <li><a href="about.html"><i class="fas fa-users"></i> Sobre Nós</a></li>
    
                    <!-- Escolas -->
                    <li class="menu-item-has-children">
                        <a href="#"><i class="fas fa-school"></i> Escolas</a>
                        <ul class="sub-menu">
                            <li><a href="all-schools.html"><i class="fas fa-building"></i> Todas as Escolas</a></li>
                            <li><a href="primary-schools.html"><i class="fas fa-graduation-cap"></i> Ensino Primário</a></li>
                            <li><a href="secondary-schools.html"><i class="fas fa-graduation-cap"></i> Ensino Secundário</a></li>
                            <li><a href="technical-schools.html"><i class="fas fa-tools"></i> Escolas Técnicas</a></li>
                            <li><a href="language-schools.html"><i class="fas fa-language"></i> Escolas de Idiomas</a></li>
                            <li><a href="art-schools.html"><i class="fas fa-palette"></i> Escolas de Arte</a></li>
                            <li><a href="special-schools.html"><i class="fas fa-accessible-icon"></i> Educação Especial</a></li>
                        </ul>
                    </li>
    
                    <!-- Cursos -->
                    <li class="menu-item-has-children">
                        <a href="#"><i class="fas fa-chalkboard-teacher"></i> Cursos</a>
                        <ul class="sub-menu">
                            <li><a href="course.html"><i class="fas fa-book"></i> Todos os Cursos</a></li>
                            <li><a href="free-courses.html"><i class="fas fa-gift"></i> Cursos Gratuitos</a></li>
                            <li><a href="languages.html"><i class="fas fa-language"></i> Idiomas</a></li>
                            <li><a href="live-classes.html"><i class="fas fa-video"></i> Aulas ao Vivo</a></li>
                            <li><a href="certifications.html"><i class="fas fa-certificate"></i> Certificações</a></li>
                            <li><a href="simulations.html"><i class="fas fa-flask"></i> Simulados e Testes</a></li>
                            <li><a href="virtual-labs.html"><i class="fas fa-laptop-code"></i> Laboratórios Virtuais</a></li>
                        </ul>
                    </li>
    
                    <!-- Centros de Formação -->
                    <li class="menu-item-has-children">
                        <a href="#"><i class="fas fa-building"></i> Centros de Formação</a>
                        <ul class="sub-menu">
                            <li><a href="training-centers.html"><i class="fas fa-cogs"></i> Nossos Centros</a></li>
                            <li><a href="professional-training.html"><i class="fas fa-briefcase"></i> Formação Profissional</a></li>
                            <li><a href="workshops.html"><i class="fas fa-cogs"></i> Workshops</a></li>
                            <li><a href="internships.html"><i class="fas fa-users"></i> Estágios e Programas</a></li>
                            <li><a href="certified-centers.html"><i class="fas fa-certificate"></i> Centros Certificados</a></li>
                            <li><a href="partnerships.html"><i class="fas fa-handshake"></i> Parcerias Educacionais</a></li>
                        </ul>
                    </li>
    
                    <!-- Desenvolvimento Profissional -->
                    <li class="menu-item-has-children">
                        <a href="#"><i class="fas fa-lightbulb"></i> Desenvolvimento</a>
                        <ul class="sub-menu">
                            <li><a href="career.html"><i class="fas fa-briefcase"></i> Carreira</a></li>
                            <li><a href="soft-skills.html"><i class="fas fa-users"></i> Soft Skills</a></li>
                            <li><a href="entrepreneurship.html"><i class="fas fa-chart-line"></i> Empreendedorismo</a></li>
                            <li><a href="finance.html"><i class="fas fa-wallet"></i> Finanças Pessoais</a></li>
                            <li><a href="design.html"><i class="fas fa-palette"></i> Criatividade e Design</a></li>
                            <li><a href="mental-health.html"><i class="fas fa-heartbeat"></i> Saúde Mental</a></li>
                        </ul>
                    </li>
    
                    <!-- Comunidade e Interação -->
                    <li class="menu-item-has-children">
                        <a href="#"><i class="fas fa-users"></i> Comunidade</a>
                        <ul class="sub-menu">
                            <li><a href="forum.html"><i class="fas fa-comments"></i> Fórum</a></li>
                            <li><a href="mentorship.html"><i class="fas fa-chalkboard-teacher"></i> Mentoria</a></li>
                            <li><a href="projects.html"><i class="fas fa-project-diagram"></i> Projetos</a></li>
                            <li><a href="study-groups.html"><i class="fas fa-users"></i> Grupos de Estudo</a></li>
                            <li><a href="hackathons.html"><i class="fas fa-hammer"></i> Hackathons</a></li>
                        </ul>
                    </li>
    
                    <!-- Recursos Acadêmicos -->
                    <li class="menu-item-has-children">
                        <a href="#"><i class="fas fa-book"></i> Recursos Acadêmicos</a>
                        <ul class="sub-menu">
                            <li><a href="library.html"><i class="fas fa-book"></i> Biblioteca</a></li>
                            <li><a href="thesis-bank.html"><i class="fas fa-file-alt"></i> Banco de Teses</a></li>
                            <li><a href="publications.html"><i class="fas fa-newspaper"></i> Publicações</a></li>
                            <li><a href="tcc.html"><i class="fas fa-graduation-cap"></i> Ajuda com TCC</a></li>
                            <li><a href="competence-map.html"><i class="fas fa-map-marker-alt"></i> Mapeamento de Competências</a></li>
                        </ul>
                    </li>
    
                    <!-- Suporte -->
                    <li><a href="faq.html"><i class="fas fa-question-circle"></i> FAQ</a></li>
                    <li><a href="help-center.html"><i class="fas fa-life-ring"></i> Central de Ajuda</a></li>
                    <li><a href="contact.html"><i class="fas fa-phone-alt"></i> Contato</a></li>
    
                    <!-- Blog e Novidades -->
                    <li><a href="blog.html"><i class="fas fa-blog"></i> Blog</a></li>
                    <li><a href="news.html"><i class="fas fa-newspaper"></i> Notícias</a></li>
    
                    <!-- Entrar/Registrar -->
                    <li><a href="login-register.html"><i class="fas fa-user"></i> Entrar/Registrar</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
    Popup Search Box
    ============================== -->
    <div class="popup-search-box d-none d-lg-block  ">
        <button class="searchClose"><i class="fal fa-times"></i></button>
        <form action="blog-details.html#">
            <input type="text" class="border-theme" placeholder="What are you looking for">
            <button type="submit"><i class="fal fa-search"></i></button>
        </form>
    </div>
    <!--==============================
    Header Area
    ==============================-->
    <header class="vs-header header-layout4">
        <div class="sticky-wrapper">
            <div class="sticky-active">
                <div class="container position-relative z-index-common">
                    <div class="row gx-50 align-items-center justify-content-between">
                        <div class="col-auto col-xl align-self-stretch">
                            <div class="vs-logo style4">
                                <a href="index.html"><img src="{% static 'assets/img/Artboard 1.png' %}" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-auto">
                            <nav class="main-menu menu-style1 d-none d-lg-block">
                                <ul>
                                    <li class="menu-item-has-children">
                                        <a href="#"><i class="fas fa-home"></i> Início</a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'index' %}"><i class="fas fa-home"></i> Início1</a></li>
                                            <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Início2</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html"></a></li>
    
                                    <!-- Escolas -->
                                    <li class="menu-item-has-children">
                                        <a href="#"><i class="fas fa-school"></i> </a>
                                        <ul class="sub-menu">
                                            <li><a href="all-schools.html"></a></li>
                                            <li><a href="primary-schools.html">Ensino Primário</a></li>
                                            <li><a href="secondary-schools.html">Ensino Secundário</a></li>
                                            <li><a href="technical-schools.html">Escolas Técnicas</a></li>
                                            <li><a href="language-schools.html">Escolas de Idiomas</a></li>
                                            <li><a href="art-schools.html">Escolas de Arte</a></li>
                                            <li><a href="special-schools.html">Educação Especial</a></li>
                                        </ul>
                                    </li>
    
                                    <!-- Cursos e Aprendizado -->
                                    <li class="menu-item-has-children">
                                        <a href="#"><i class="fas fa-graduation-cap"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="course.html">Todos os Cursos</a></li>
                                            <li><a href="free-courses.html">Cursos Gratuitos</a></li>
                                            <li><a href="languages.html">Idiomas</a></li>
                                            <li><a href="live-classes.html">Aulas ao Vivo</a></li>
                                            <li><a href="certifications.html">Certificações</a></li>
                                            <li><a href="simulations.html">Simulados e Testes</a></li>
                                            <li><a href="virtual-labs.html">Laboratórios Virtuais</a></li>
                                        </ul>
                                    </li>
    
                                    <!-- Mais Categorias -->
                                    <li class="menu-item-has-children">
                                        <a href="#"><i class="fas fa-th-list"></i> </a>
                                        <ul class="sub-menu">
                                            <li><a href="business-courses.html">Cursos de Negócios</a></li>
                                            <li><a href="design-courses.html">Cursos de Design</a></li>
                                            <li><a href="technology-courses.html">Cursos de Tecnologia</a></li>
                                            <li><a href="health-courses.html">Cursos de Saúde</a></li>
                                        </ul>
                                    </li>
    
                                    <!-- Desenvolvimento Profissional -->
                                    <li class="menu-item-has-children">
                                        <a href="#"><i class="fas fa-briefcase"></i> </a>
                                        <ul class="sub-menu">
                                            <li><a href="career.html">Carreira</a></li>
                                            <li><a href="soft-skills.html">Soft Skills</a></li>
                                            <li><a href="entrepreneurship.html">Empreendedorismo</a></li>
                                            <li><a href="finance.html">Finanças Pessoais</a></li>
                                            <li><a href="design.html">Criatividade e Design</a></li>
                                            <li><a href="mental-health.html">Saúde Mental</a></li>
                                        </ul>
                                    </li>
    
                                    <!-- Comunidade e Interação -->
                                    <li class="menu-item-has-children">
                                        <a href="#"><i class="fas fa-users"></i> </a>
                                        <ul class="sub-menu">
                                            <li><a href="forum.html">Fórum</a></li>
                                            <li><a href="mentorship.html">Mentoria</a></li>
                                            <li><a href="projects.html">Projetos</a></li>
                                            <li><a href="study-groups.html">Grupos de Estudo</a></li>
                                            <li><a href="hackathons.html">Hackathons</a></li>
                                        </ul>
                                    </li>
    
                                    <!-- Recursos e Pesquisas -->
                                    <li class="menu-item-has-children">
                                        <a href="#"><i class="fas fa-book"></i> </a>
                                        <ul class="sub-menu">
                                            <li><a href="library.html">Biblioteca</a></li>
                                            <li><a href="thesis-bank.html">Banco de Teses</a></li>
                                            <li><a href="publications.html">Publicações</a></li>
                                            <li><a href="tcc.html">Ajuda com TCC</a></li>
                                            <li><a href="competence-map.html">Mapeamento de Competências</a></li>
                                        </ul>
                                    </li>
    
                                </ul>
                            </nav>
                            <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="fal fa-bars"></i></button>
                        </div>
                        <div class="col-auto d-none d-xl-block">
                            <div class="header-btns">
                                <button type="button" class="searchBoxTggler"><i class="far fa-search"></i></button>
                                <a href="{% url 'Cadastrar_normal' %}" class="vs-btn style6"><i class="fal fa-graduation-cap"></i> Programa</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--==============================
    Breadcumb
    ============================== -->
    <div class="breadcumb-wrapper " data-bg-src="{% static 'assets/img/8282529.jpg' %}">
        <div class="container z-index-common">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Visão Detalhada da Notícia</h1>
            </div>
        </div>
    </div>
    
    <!--==============================
      Blog Area
    ==============================-->
    <section class="vs-blog-wrapper blog-details space-top space-extra-bottom">
        <div class="container">
            <div class="row gx-40">
                <div class="col-lg-8">
                    <div class="vs-blog blog-single">
                        <div class="blog-img">
                            <img style="width: 880px; height: 700px;" src="{{ noticia.imagem.url }}" alt="Imagem do Blog">
                        </div>
                        <div class="blog-content">
                            <h2 class="blog-title">{{noticia.titulo}}</h2>
                            <div class="blog-meta mb-3">
                                <a href="blog.html"><i class="far fa-user"></i>Por admin</a>
                                <a href="blog.html"><i class="far fa-calendar"></i>{{noticia.data_publicacao}}</a>
                                <a href="blog.html"><i class="far fa-comments"></i>112 Comentários</a>
                            </div>
                            <p>{{noticia.conteudo}}</p>
                            
                            <blockquote class="vs-quote">
                                <p>Tive a oportunidade de me encontrar com a dinâmica & distinta faculdade de curso.</p>
                                <span>Jessica Moniqa</span>
                            </blockquote>
                            <p>{{noticia.resumo}}</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="blog-inner-img">
                                        <img class="w-100" src="{% static 'assets/img/blog/blog-s-1-2.jpg' %}" alt="Imagem do Blog">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="blog-inner-img">
                                        <img class="w-100" src="{% static 'assets/img/blog/blog-s-1-3.jpg' %}" alt="Imagem do Blog">
                                    </div>
                                </div>
                            </div>
                            <h4 class="blog-title2">Curso de Fast Track</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="list-style2 vs-list">
                                        <ul>
                                            <li>Fluxo constante de novos alunos</li>
                                            <li>Calendário inteligente</li>
                                            <li>Sala de aula interativa</li>
                                            <li>Métodos de pagamento convenientes</li>
                                            <li>Webinars de desenvolvimento profissional</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <p>reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum nisi ut aliquip ex ea commodo reprehenderit in voluptate velit esse cillum dolore.</p>
                        </div>
                        <div class="share-links clearfix">
                            <div class="row justify-content-between">
                                <div class="col-xl-auto"><span class="share-links-title">Tags:</span>
                                    <div class="tagcloud">
                                        <a href="blog.html">{{noticia.tag}}</a>
                                        <a href="blog.html">DESENVOLVIMENTO</a>
                                    </div>
                                </div>
                                <div class="col-xl-auto text-xl-end">
                                    <span class="share-links-title">Compartilhar:</span>
                                    <ul class="social-links">
                                        <li><a href="blog-details.html#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="blog-details.html#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="blog-details.html#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Post Pagination Style -->
                        <div class="post-pagination">
                            <div class="row justify-content-between align-items-md-center">
                                <div class="col">
                                    <div class="post-pagi-box prev">
                                        <a href="blog.html"><i class="fas fa-chevron-left"></i></a>
                                        <h4 class="pagi-title"><a href="blog.html">Tadit Soul pode nos ensinar sobre Web Docan</a></h4>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="post-pagi-box next">
                                        <a href="blog.html"><i class="fas fa-chevron-right"></i></a>
                                        <h4 class="pagi-title"><a href="blog.html">Por que Soul pode nos ensinar sobre Marketing</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vs-comments-wrap">
                            <h2 class="blog-inner-title">3 Comentários</h2>
                            <ul class="comment-list">
                                <li class="vs-comment-item">
                                    <div class="vs-post-comment">
                                        <div class="comment-avater">
                                            <img src="{% static 'assets/img/blog/comment-author-1.jpg' %}" alt="Autor do Comentário">
                                        </div>
                                        <div class="comment-content">
                                            <h4 class="name h4">Lynda Reyes</h4>
                                            <span class="commented-on"><i class="fal fa-calendar-alt"></i> 22 Março, 2024</span>
                                            <p class="text">Produtos de beleza Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                            <div class="reply_and_edit">
                                                <a href="blog-details.html#" class="replay-btn"><i class="fas fa-reply"></i>Responder</a>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="children">
                                        <li class="vs-comment-item">
                                            <div class="vs-post-comment">
                                                <div class="comment-avater">
                                                    <img src="{% static 'assets/img/blog/comment-author-2.jpg' %}" alt="Autor do Comentário">
                                                </div>
                                                <div class="comment-content">
                                                    <h4 class="name h4">Adom Lee</h4>
                                                    <span class="commented-on"><i class="fal fa-calendar-alt"></i> 23 Agosto, 2024</span>
                                                    <p class="text">Produtos de beleza Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                    <div class="reply_and_edit">
                                                        <a href="blog-details.html#" class="replay-btn"><i class="fas fa-reply"></i>Responder</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="vs-comment-item">
                                    <div class="vs-post-comment">
                                        <div class="comment-avater">
                                            <img src="{% static 'assets/img/blog/comment-author-3.jpg' %}" alt="Autor do Comentário">
                                        </div>
                                        <div class="comment-content">
                                            <h4 class="name h4">Tara Sing</h4>
                                            <span class="commented-on"><i class="fal fa-calendar-alt"></i> 26 Abril, 2024</span>
                                            <p class="text">Produtos de beleza Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                            <div class="reply_and_edit">
                                                <a href="blog-details.html#" class="replay-btn"><i class="fas fa-reply"></i>Responder</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Formulário de Comentário -->
                        <div class="vs-comment-form">
                            <div id="respond" class="comment-respond">
                                <h3 class="blog-inner-title">Deixe um Comentário</h3>
                                <p class="form-text">Seu endereço de e-mail não será publicado. Campos obrigatórios são marcados com *</p>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" placeholder="Nome Completo">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="email" class="form-control" placeholder="Endereço de E-mail">
                                    </div>
                                    <div class="col-12 form-group">
                                        <textarea class="form-control" placeholder="Escreva seu comentário"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <div class="custom-checkbox notice">
                                            <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes">
                                            <label for="wp-comment-cookies-consent">Salvar meu nome, e-mail e site neste navegador para a próxima vez que eu comentar.</label>
                                        </div>
                                    </div>
                                    <div class="col-12 form-group">
                                        <button class="vs-btn">Postar Comentário</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4">
                    <aside class="sidebar-area">
                        <div class="widget widget_search  ">
                            <h3 class="widget_title">Pesquisar</h3>
                            <form class="search-form">
                                <input type="text" placeholder="pesquisar">
                                <button type="submit"><i class="far fa-search"></i></button>
                            </form>
                        </div>
                        <div class="widget widget_categories">
                            <h3 class="widget_title">Categorias</h3>
                            <ul>
                                <li> <a href="blog.html">Cursos Online</a> <span>12</span> </li>
                                <li> <a href="blog.html">Formação de Professores</a> <span>24</span> </li>
                                <li> <a href="blog.html">Tecnologia Educacional</a> <span>18</span> </li>
                                <li> <a href="blog.html">Metodologias de Ensino</a> <span>34</span> </li>
                                <li> <a href="blog.html">Desenvolvimento de Carreira</a> <span>11</span> </li>
                                <li> <a href="blog.html">Centros de Formação Profissional</a> <span>8</span> </li>
                                <li> <a href="blog.html">Certificação Profissional</a> <span>15</span> </li>
                                <li> <a href="blog.html">Educação a Distância</a> <span>22</span> </li>
                                <li> <a href="blog.html">Educação Infantil</a> <span>7</span> </li>
                                <li> <a href="blog.html">Treinamentos Corporativos</a> <span>13</span> </li>
                            </ul>
                        </div>
                        
                        <div class="widget">
                            <h3 class="widget_title">Guia de Noticia</h3>
                            <div class="recent-post-wrap">
                                <div class="recent-post">
                                    <div class="media-img"><img src="{{ noticia.imagem.url }}" alt="coisa"></div>
                                    <div class="media-body">
                                        <h4 class="post-title"><a class="text-inherit" href="blog-details.html">{{noticia.titulo}}</a></h4>
                                        <div class="recent-post-meta"><a href="#">{{ noticia.data_publicacao|date:"d \d\e F, Y" }}</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="widget">
                            <h4 class="widget_title">Fotos da Galeria</h4>
                            <div class="sidebar-gallery">
                                <div class="gallery-thumb">
                                    <img src="{% static 'assets/img/widget/gal-1-1.jpg' %}" alt="Imagem da Galeria" class="w-100">
                                    <a href="{% static 'assets/img/widget/gal-1-1.jpg' %}" class="popup-image gal-btn"><i class="fal fa-plus"></i></a>
                                </div>
                                <div class="gallery-thumb">
                                    <img src="{% static 'assets/img/widget/gal-1-2.jpg' %}" alt="Imagem da Galeria" class="w-100">
                                    <a href="{% static 'assets/img/widget/gal-1-2.jpg' %}" class="popup-image gal-btn"><i class="fal fa-plus"></i></a>
                                </div>
                                <div class="gallery-thumb">
                                    <img src="{% static 'assets/img/widget/gal-1-3.jpg' %}" alt="Imagem da Galeria" class="w-100">
                                    <a href="{% static 'assets/img/widget/gal-1-3.jpg' %}" class="popup-image gal-btn"><i class="fal fa-plus"></i></a>
                                </div>
                                <div class="gallery-thumb">
                                    <img src="{% static 'assets/img/widget/gal-1-4.jpg' %}" alt="Imagem da Galeria" class="w-100">
                                    <a href="{% static 'assets/img/widget/gal-1-4.jpg' %}" class="popup-image gal-btn"><i class="fal fa-plus"></i></a>
                                </div>
                                <div class="gallery-thumb">
                                    <img src="{% static 'assets/img/widget/gal-1-5.jpg' %}" alt="Imagem da Galeria" class="w-100">
                                    <a href="{% static 'assets/img/widget/gal-1-5.jpg' %}" class="popup-image gal-btn"><i class="fal fa-plus"></i></a>
                                </div>
                                <div class="gallery-thumb">
                                    <img src="{% static 'assets/img/widget/gal-1-6.jpg' %}" alt="Imagem da Galeria" class="w-100">
                                    <a href="{% static 'assets/img/widget/gal-1-6.jpg' %}" class="popup-image gal-btn"><i class="fal fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="widget widget_meta   ">
                            <h3 class="widget_title">Links Meta</h3>
                            <ul>
                                <li><a href="blog-details.html#">Entrar</a></li>
                                <li><a href="blog-details.html#">RSS de Entradas</a></li>
                                <li><a href="blog-details.html#">RSS de Comentários</a></li>
                                <li><a href="blog-details.html#">WordPress.org</a></li>
                            </ul>
                        </div>
                        
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
    CTA Area
    ==============================-->
    <section class="space-extra" data-bg-src="assets/img/bg/blog-single-divider-bg-1-1.jpg">
        <div class="container">
            <div class="row justify-content-between text-center text-lg-start">
                <div class="col-lg-6 mb-40 mb-lg-0">
                    <h2 class="mt-n2 h2 mb-3">O propósito da Educangolaa é transformar o acesso à educação.</h2>
                    <p class=" mb-4 pb-2 fs-md col-xl-11">Inscreva-se em nossa newsletter e enviaremos cursos novos e ofertas especiais diretamente para sua caixa de entrada, uma vez por semana.</p>
                    <a href="contact.html" class="vs-btn style2"><i class="far fa-angle-right"></i>Obter um Orçamento</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <div class="sec-line2"></div>
                </div>
                <div class="col-lg-auto">
                    <h6 class="mt-n1">Equipe de Liderança Acadêmica</h6>
                    <div class="mini-avater">
                        <a href="team-details.html"><img src="{% static 'assets/img/team/team-s-1-1.png' %}" alt="avatar"></a>
                        <a href="team-details.html"><img src="{% static 'assets/img/team/team-s-1-2.png' %}" alt="avatar"></a>
                        <a href="team-details.html"><img src="{% static 'assets/img/team/team-s-1-3.png' %}" alt="avatar"></a>
                        <a href="team-details.html"><img src="{% static 'assets/img/team/team-s-1-4.png' %}" alt="avatar"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--==============================
    Footer Area
    ==============================-->
    <footer class="footer-wrapper footer-layout1 style4">
        <div class="widget-area" data-bg-src="{% static 'assets/img/bg/footer-bg1.png' %}">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <div class="vs-widget-about">
                                <div class="footer-logo">
                                    <a href="{% url 'home' %}"><img src="{% static 'assets/img/Artboard 1.png' %}" alt="logo"></a>
                                </div>
                                <p class="footer-text">Lorem ipsum dolor sit amet, consectet rem ips dolor sit amet. Sum dolor sit amet, consectet e dolor sit amet, comod.</p>
                                <p class="footer-info"><i class="fal fa-phone-alt"></i><a class="text-inherit" href="tel:++11234562228">+244 923908353</a></p>
                                <p class="footer-info"><i class="fal fa-envelope"></i><a class="text-inherit" href="mailto:info@example.com">Educangola@gmail.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-xl-auto">
                        <div class="widget nav_menu footer-widget">
                            <h3 class="widget_title">Links de Estudo</h3>
                            <div class="menu-all-pages-container footer-menu">
                                <ul class="menu">
                                    <li><a href="course.html">Todos os Cursos</a></li>
                                    <li><a href="blog.html">Sessões de Verão</a></li>
                                    <li><a href="course.html">Melhores Cursos</a></li>
                                    <li><a href="https://html.vecurosoft.com/educino/demo/find-tutor.htm">Contratar professores</a></li>
                                    <li><a href="academic-program.html">FAQs do Programa</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-xl-auto">
                        <div class="widget nav_menu footer-widget">
                            <h3 class="widget_title">Links Rápidos</h3>
                            <div class="menu-all-pages-container footer-menu">
                                <ul class="menu">
                                    <li><a href="about.html">Comunidade</a></li>
                                    <li><a href="contact.html">Suporte</a></li>
                                    <li><a href="blog.html">Guias em Vídeo</a></li>
                                    <li><a href="event-details.html">Documentação</a></li>
                                    <li><a href="about.html">Segurança</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Cursos Recentes</h3>
                            <div class="recent-post-wrap">
                                <div class="recent-course">
                                    <div class="media-img"><a href="course-details.html"><img src="{% static 'assets/img/Artboard 1.png' %}" alt="Imagem do Blog"></a></div>
                                    <div class="media-body">
                                        <div class="recent-course-meta"><a href="team-details.html">Theresa Chruz</a></div>
                                        <h4 class="post-title"><a class="text-inherit" href="course-details.html">Teoria de Codificação Web e Fundamentos do Apache</a></h4>
                                    </div>
                                </div>
                                <div class="recent-course">
                                    <div class="media-img"><a href="course-details.html"><img src="{% static 'assets/img/Artboard 1.png' %}" alt="Imagem do Blog"></a></div>
                                    <div class="media-body">
                                        <div class="recent-course-meta"><a href="team-details.html">Rossana Costa</a></div>
                                        <h4 class="post-title"><a class="text-inherit" href="course-details.html">O que Tadit Soul pode nos ensinar sobre Web Docan</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="text-center col-lg-auto">
                        <p class="copyright-text">Copyright <i class="fal fa-copyright"></i> 2024 <a href="index.html">Educa_Angola</a>. Todos os Direitos Reservados por <a href="#">Angola_Educa</a></p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <div class="social-style1 footer-social">
                            <a href="index-5.html#"><i class="fab fa-facebook-f"></i>Facebook</a>
                            <a href="index-5.html#"><i class="fab fa-twitter"></i>Twitter</a>
                            <a href="index-5.html#"><i class="fab fa-linkedin-in"></i>LinkedIn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer> 
    <!-- Scroll To Top -->
    <a href="blog-details.html#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>

    <!--********************************
			Code End  Here 
	******************************** -->

    <!--==============================
        All Js File
    ============================== -->
      <!-- Jquery -->
      <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
      <!-- Slick Slider -->
      <script src="{% static 'assets/js/slick.min.js' %}"></script>
      <!-- <script src="assets/js/app.min.js"></script> -->
      <!-- Bootstrap -->
      <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
      <!-- Wow.js Animation -->
      <script src="{% static 'assets/js/wow.min.js' %}"></script>
      <!-- Magnific Popup -->
      <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
      <!-- Main Js File -->
      <script src="{% static 'assets/js/main.js' %}"></script>



</body>

</html>