{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educangola | Registrar </title>
    <link rel="stylesheet" type="text/css" href="{% static 'login all/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login all/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login all/css/iofrm-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login all/css/iofrm-theme42.css' %}">
</head>

<style>
    select.form-control {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border-radius: 0.375rem;
    border: 1px solid #ced4da;
}

</style>

<body>
    <div class="form-body form-left">
        <div class="iofrm-layout">
            <div class="img-holder text-start">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="{% static 'login all/images/graphic15.svg' %}" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content justify-content-end">
                    <div class="form-items">
                        <div class="website-logo-inside logo-normal">
                            <a href="{% url 'Cadastrar_normal' %}">
                                <div class="log">
                                    <img style="width: 300px;" class="logo-size" src="{% static 'login all/images/Artboard 1.png' %}" alt="">
                                </div>
                            </a>
                        </div>
                        <h3 class="font-md">Dê o primeiro passo na sua jornada educacional.</h3>
                        <p>Crie sua conta para acessar cursos, escolas e centros de formação que irão transformar o seu futuro.</p>
                        <form>
                            <input class="form-control" type="text" name="nome" placeholder="Nome Completo" required>
                            <input class="form-control" type="email" name="email" placeholder="Endereço de E-mail" required>
                            <input class="form-control" type="password" name="senha" placeholder="Senha" required>
                            
                            <!-- Seletor de tipo de usuário -->
                            <label for="user-type">Selecione seu tipo de usuário:</label>
                            <select class="form-control" id="user-type" name="user_type" required>
                                <option value="" disabled selected>Escolha...</option>
                                <option value="aluno">Aluno</option>
                                <option value="professor">Professor</option>
                                <option value="tutor">Tutor</option>
                            </select>
    
    
                            <div class="form-button d-flex">
                                <button id="submit" type="submit" class="btn btn-primary">Criar Conta</button>
                                <a href="{% url 'Login_normal' %}" class="btn btn-outline-primary">Já tenho conta</a>
                            </div>
                        </form>
                        <div class="other-links">
                            <span>Ou registre-se com</span>
                            <a href="login36.html#"><i class="fab fa-facebook-f"></i></a>
                            <a href="login36.html#"><i class="fab fa-google"></i></a>
                            <a href="login36.html#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>     
<script src="{% static 'login all/js/jquery.min.js' %}"></script>
<script src="{% static 'login all/js/popper.min.js' %}"></script>
<script src="{% static 'login all/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'login all/js/main.js' %}"></script>

</body>
</html>