{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educangola | Login </title>
    <link rel="stylesheet" type="text/css" href="{% static 'login all/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login all/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login all/css/iofrm-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login all/css/iofrm-theme42.css' %}">
</head>
<body>
    <div class="form-body form-left">
        <div class="iofrm-layout">
            <div class="img-holder text-start">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="{% static 'login all/images/graphic15.svg' %}" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content justify-content-end">
                    <div class="form-items">
                        <div class="website-logo-inside logo-normal">
                            <a href="{% url 'Login_normal' %}">
                                <div class="log">
                                    <img style="width: 300px;" class="logo-size" src="{% static 'login all/images/Artboard 1.png' %}" alt="">
                                </div>
                            </a>
                        </div>
                        <h3 class="font-md">Explore novos horizontes na sua jornada de aprendizado.</h3>
                        <p>Acesse cursos, escolas e centros de formação para transformar seu futuro.</p>
                        <form>
                            <input class="form-control" type="text" name="nome" placeholder="Endereço de E-mail" required>
                            <input class="form-control" type="password" name="senha" placeholder="Senha" required>
                            <div class="form-button d-flex">
                                <button id="submit" type="submit" class="btn btn-primary">Entrar</button>
                                <a href="{% url 'Cadastrar_normal' %}" class="btn btn-outline-primary">Criar conta</a>
                            </div>
                        </form>
                        <div class="other-links">
                            <span>Ou entre com</span>
                            <a href="login36.html#"><i class="fab fa-facebook-f"></i></a>
                            <a href="login36.html#"><i class="fab fa-google"></i></a>
                            <a href="login36.html#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<script src="{% static 'login all/js/jquery.min.js' %}"></script>
<script src="{% static 'login all/js/popper.min.js' %}"></script>
<script src="{% static 'login all/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'login all/js/main.js' %}"></script>
</body>
</html>